/* --- */

* {
	background-color: black;
	color: white;
	border: none;
	font-family: serif;
}

/* --- */

#challenge, #challenge input {
	font-size: 128px;
	font-weight: bold;
}

#result {
	width: 3em;
}

// ---

#resultDiv {
	font-size: 32px;
}

/* --- */

#choice {
	font-size: 48px;
	font-weight: bold;
}

#choice .question {
	color: #ccc;
	font-style: italic;
}

#choice ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

#choice li {
	margin-bottom: 8px;
	padding-left: 20px;
	letter-spacing: 2px;
}

/* --- */

a {
	color: white;
	text-decoration:none;
	padding: 5px;
	font-weight: normal;
}

a:hover {
	background-color: white;
	color: black;
}
