/* --- */

body {
	background-color: black;
	color: white;
}

/* --- */

#challenge {
	font-size: 128px;
	font-weight: bold;
}

#resultDiv {
	font-size: 32px;
}

#keyboardSwitch {
	font-size:32px;
}

#keyboard table td {
	font-size: 48px;
	font-weight: bold;
	background-color: #333;
	padding: 10px;
	width:50px;
	text-align: center;
}

#keyboard table td:hover {
	background-color:#555;
}

/* --- */

#choice {
	font-size: 48px;
	font-weight: bold;
}

#choice .question {
	color: #ccc;
	font-style: italic;
}

#choice ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

#choice li {
	margin-bottom: 8px;
	padding-left: 20px;
	letter-spacing: 2px;
}

/* --- */

a {
	color: white;
	text-decoration:none;
	padding: 5px;
	font-weight: normal;
}

a:hover {
	background-color: white;
	color: black;
}
